  <section
    id="testimonials"
    class="bg-[var(--surface-0)] min-h-screen flex flex-col justify-evenly py-16 snap-center"
  >
    <h2 class="text-3xl font-semibold text-center mb-8">What Our Users Say</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-4">
      <div class="bg-[var(--surface-50)] p-6 rounded-lg shadow-md text-center">
        <i class="pi pi-user text-2xl pb-4"></i>
        <p class="pb-3">
          "Snap The Web saves me so much time when working with clients!"
        </p>
        <h4 class="font-semibold text-[var(--gray-400)]">- Alex Doe</h4>
      </div>

      <div class="bg-[var(--surface-50)] p-6 rounded-lg shadow-md text-center">
        <i class="pi pi-user text-2xl pb-4"></i>
        <p class="pb-3">"Incredibly fast and easy to use. A must-have tool!"</p>
        <h4 class="font-semibold text-[var(--gray-400)]">- Sarah Lee</h4>
      </div>

      <div class="bg-[var(--surface-50)] p-6 rounded-lg shadow-md text-center">
        <i class="pi pi-user text-2xl pb-4"></i>
        <p class="pb-3">
          "Great for quick screenshots across multiple devices!"
        </p>
        <h4 class="font-semibold text-[var(--gray-400)]">- Jonh Smith</h4>
      </div>
    </div>
  </section>

