  <section
    id="features"
    class="bg-[var(--surface-0)] min-h-screen flex flex-col justify-evenly py-16 snap-center"
  >
    <h2 class="text-3xl font-semibold text-center mb-8">Why Snap The Web?</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-14 px-4">
      <div class="text-center">
        <i class="pi pi-check-circle text-[var(--blue-500)] text-4xl mb-4"></i>
        <h3 class="text-lg font-semibold">Fast and Reliable</h3>
        <p class="text-[var(--gray-400)]">
          Capture websites quickly with high reliability.
        </p>
      </div>

      <div class="text-center">
        <i class="pi pi-cog text-[var(--blue-500)] text-4xl mb-4"></i>
        <h3 class="text-lg font-semibold">Customizable Snapshots</h3>
        <p class="text-[var(--gray-400)]">
          Choose your desired resolution and format.
        </p>
      </div>

      <div class="text-center">
        <i class="pi pi-mobile text-blue-500 text-4xl mb-4"></i>
        <h3 class="text-lg font-semibold">Responsive Previews</h3>
        <p class="text-[var(--gray-400)]">
          View how websites appear on multiple devices.
        </p>
      </div>

      <div class="text-center">
        <i class="pi pi-share-alt text-[var(--blue-500)] text-4xl mb-4"></i>
        <h3 class="text-lg font-semibold">Easy Sharing</h3>
        <p class="text-[var(--gray-400)]">
          Easily share your captures with others.
        </p>
      </div>
    </div>
  </section>

