<main class="">
  <section
    id="hero"
    class="bg-[var(--surface-ground)] min-h-screen flex flex-col justify-center text-center w-full snap-center"
  >
    <h1 class="text-4xl font-bold mb-4">Capture any website in seconds</h1>
    <p class="text-lg text-[var(--gray-400)] mb-6">
      Quick and easy screenshot tool for websites. Just input a URL and get a
      perfect snapshot instantly.
    </p>
  </section>

  <section
    id="features"
    class="bg-[var(--surface-0)] min-h-screen flex flex-col justify-evenly py-16 snap-center"
  >
    <h2 class="text-3xl font-semibold text-center mb-8">Why Snap The Web?</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-14 px-4">
      <div class="text-center">
        <i class="pi pi-check-circle text-[var(--blue-500)] text-4xl mb-4"></i>
        <h3 class="text-lg font-semibold">Fast and Reliable</h3>
        <p class="text-[var(--gray-400)]">
          Capture websites quickly with high reliability.
        </p>
      </div>

      <div class="text-center">
        <i class="pi pi-cog text-[var(--blue-500)] text-4xl mb-4"></i>
        <h3 class="text-lg font-semibold">Customizable Snapshots</h3>
        <p class="text-[var(--gray-400)]">
          Choose your desired resolution and format.
        </p>
      </div>

      <div class="text-center">
        <i class="pi pi-mobile text-blue-500 text-4xl mb-4"></i>
        <h3 class="text-lg font-semibold">Responsive Previews</h3>
        <p class="text-[var(--gray-400)]">
          View how websites appear on multiple devices.
        </p>
      </div>

      <div class="text-center">
        <i class="pi pi-share-alt text-[var(--blue-500)] text-4xl mb-4"></i>
        <h3 class="text-lg font-semibold">Easy Sharing</h3>
        <p class="text-[var(--gray-400)]">
          Easily share your captures with others.
        </p>
      </div>
    </div>
  </section>

  <section
    id="how-it-works"
    class="min-h-screen flex flex-col justify-evenly py-16 snap-center"
  >
    <h2 class="text-3xl font-semibold text-center mb-8">How It Works</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-16 px-4 text-center">
      <div>
        <i class="pi pi-globe text-[var(--blue-500)] text-5xl mb-4"></i>
        <h3 class="text-lg font-semibold">Step 1</h3>
        <p class="text-[var(--gray-400)]">Enter the URL of the website.</p>
      </div>

      <div>
        <i class="pi pi-sliders-h text-[var(--blue-500)] text-5xl mb-4"></i>
        <h3 class="text-lg font-semibold">Step 2</h3>
        <p class="text-[var(--gray-400)]">Choose the resolution and format.</p>
      </div>

      <div>
        <i class="pi pi-download text-[var(--blue-500)] text-5xl mb-4"></i>
        <h3 class="text-lg font-semibold">Step 3</h3>
        <p class="text-[var(--gray-400)]">
          Capture and download your screenshot.
        </p>
      </div>
    </div>
  </section>

  <section
    id="testimonials"
    class="bg-[var(--surface-0)] min-h-screen flex flex-col justify-evenly py-16 snap-center"
  >
    <h2 class="text-3xl font-semibold text-center mb-8">What Our Users Say</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-4">
      <div class="bg-[var(--surface-50)] p-6 rounded-lg shadow-md text-center">
        <i class="pi pi-user text-2xl pb-4"></i>
        <p class="pb-3">
          "Snap The Web saves me so much time when working with clients!"
        </p>
        <h4 class="font-semibold text-[var(--gray-400)]">- Alex Doe</h4>
      </div>

      <div class="bg-[var(--surface-50)] p-6 rounded-lg shadow-md text-center">
        <i class="pi pi-user text-2xl pb-4"></i>
        <p class="pb-3">"Incredibly fast and easy to use. A must-have tool!"</p>
        <h4 class="font-semibold text-[var(--gray-400)]">- Sarah Lee</h4>
      </div>

      <div class="bg-[var(--surface-50)] p-6 rounded-lg shadow-md text-center">
        <i class="pi pi-user text-2xl pb-4"></i>
        <p class="pb-3">
          "Great for quick screenshots across multiple devices!"
        </p>
        <h4 class="font-semibold text-[var(--gray-400)]">- Jonh Smith</h4>
      </div>
    </div>
  </section>

  <section
    id="get-started"
    class="bg-[var(--surface-0)] min-h-screen flex flex-col justify-center items-center gap-8 py-16 snap-center"
  >
    <h2 class="text-3xl font-semibold text-center">
      Get Started <span class="text-[var(--blue-500)]">Now!</span>
    </h2>
    <a
      routerLink="/snap"
      class="font-bold p-button no-underline animate-bounce"
    >
      Go to the Snap Page
    </a>
  </section>
</main>
