<small
  class="error block m-auto min-w-full w-full"
  *ngIf="
    form.get('url-input')?.invalid &&
    (form.get('url-input')?.dirty || form.get('url-input')?.touched)
  "
  >Invalid URL</small
>
<form
  class="flex flex-wrap items-center justify-center gap-6 min-w-full"
  [formGroup]="form"
  (ngSubmit)="callApi()"
>
  <label
    for="url-input"
    class="flex flex-col gap-4 text-center min-w-full w-full justify-center shadow-sm"
  >
    <input
      type="url"
      pInputText
      formControlName="url-input"
      class="px-4 py-2 text-center text-md font-mono min-w-full max-w-full bg-[var(--surface-0)]"
      (keyup.enter)="callApi()"
      placeholder="https://www.github.com/"
      required
    />
  </label>
  <p-splitButton
    label="Snap!"
    (onClick)="callApi()"
    [model]="items"
    tooltip="Snap {{ form.get('url-input')?.value }}"
    raised
  />
<p-toast />
</form>

<app-snap-options [(showPopup)]="showOptionsPopup" />
