@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}

@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
:root,
body,
html {
  --font-family: sans-serif !important;
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.error {
  color: var(--red-500);
  font-weight: bold;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
